@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*----------------------------------color*/

.bg-color-header{
    background-color: blueviolet;
}


/*----------------------------------header*/

.logo{
    background: url(../images/rosie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 360px;
}

.name{
    font-family: "Roboto" , sans-serif;
    font-weight: 300;
    color:#fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
}

.title{
    font-family: "Exo" , sans-serif;
    font-weight: 300;
    color:#fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 45px;
}